<nav class="navbar">
  <div class="nav-left">
    <strong>ULog Control</strong>
  </div>

  <div class="nav-links">
    <a
      href="/control/"
      class="{% if active_page == 'dashboard' %}active{% endif %}"
    >
      Dashboard
    </a>

    <a
      href="/control/logs/"
      class="{% if active_page == 'logs' %}active{% endif %}"
    >
      Attendance Logs
    </a>
    <a href="#" class="{% if active_page == 'staff' %}active{% endif %}">
      Staff Management
    </a>
  </div>
  <div class="nav-right">
    <a href="/logout/" class="logout-btn">Logout</a>
  </div>
</nav>
